<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="uk.co.duckmonkey.cordova.offlinehttp"
        version="0.0.0">

	<name>Offline HTTP client</name>
	
	<engines>
		<engine name="cordova" version=">=4.1.1"/>
	</engines>	

	<js-module src="www/offlinehttp.js" name="OfflineHTTP">
		<clobbers target="plugins.offlinehttp" />
	</js-module>
	
	<platform name="android">					
		<source-file src="src/android/uk/co/duckmonkey/cordova/offlinehttp/OfflineHTTP.java" target-dir="src/cuk/co/duckmonkey/cordova/offlinehttp/"/>				
	</platform>
</plugin>
